html, body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	background: #000;
}

// canvas {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);    
//   -webkit-transform: translate(-50%, -50%);
//   -moz-transform: translate(-50%, -50%);
//   -ms-transform: translate(-50%, -50%);
//   cursor: pointer;
// }

#map-container {
	width: 100%;
	height: 100%;
	background: #000 !important;
}

#map-container.flipped {
  transform: rotate(180deg) !important;    
  -webkit-transform: rotate(180deg) !important;
  -moz-transform: rotate(180deg) !important;
  -ms-transform: rotate(180deg) !important;
}